<!DOCTYPE html>
<html>
<head>
<title>About</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="home-bg">

<div class="navbar">
    <a href="/home">Home</a>
    <a href="/contact">Contact</a>
</div>

<div style="color:white; padding:40px; max-width:900px;">

    <h1 style="text-align:left;">ABOUT US</h1>

    <p style="text-align:left; font-size:18px;">
        This system authentication platform is designed to provide secure login access using modern web technologies. 
        It ensures data privacy, user verification, and efficient system control.
    </p>

    <p style="text-align:left; font-size:18px;">
        Our platform integrates efficient login validation, user verification processes, and secure session handling 
        to prevent unauthorized access. It is built using modern web technologies such as HTML, CSS, and JavaScript, 
        ensuring both performance and scalability. The system is designed to be user-friendly while maintaining high standards of security.
    </p>

    <a href="/readme" style="color:#00f; font-weight:bold;">Read More</a>

</div>

</body>
</html>